<!-- templates/lab_6/partials/footer.html -->
<!-- TODO, CREATE THIS FILE AND ADD copyright symbol -->
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(31, 30, 30);
        color: white;
        text-align: center;
        font: bold
    }
    </style>
    
    <div class="footer">
      <p>Created by iskarim University of Indonesia 2018</p>
</div>
