
<nav class="navbar navbar-inverse navbar-static-top testclass">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'lab-4:index' %}">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a href="{% url 'lab-1:index' %}"> Author </a> </li>
        <li><a href="{% url 'lab-2:index' %}"> Author's Message </a> </li>
        <li><a href="{% url 'lab-3:index' %}"> Diary </a> </li>
        <li><a href="{% url 'lab-4:index' %}"> Portofolio </a> </li>
        <li><a href="{% url 'lab-5:index' %}"> To Do List </a> </li>
        <li><a href="{% url 'lab-6:index' %}"> Calculator </a> </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
